body {
	width: 100%;
	background: url('guernica-wallpaper.svg');
	background-repeat: repeat;
	background-size: 1000px;
}
h1 {
	color: #00ff00;
	background: transparent;
	font-family: sans-serif;
}
p{
	font-family: sans-serif;
}
li{
	font-family: sans-serif;
}
.container{
	max-width: 800px;
	margin: 0 auto;
}