body{
	margin: 0;
	padding: 0;
	color: #000000;
	background-color: #ffffff;
	font-size: 14px;
	font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd{
	padding: 0;
	margin: 0;
}

ol,ul{
	list-style-type: none;
}


/*アンカーの下線を消す*/
a,
a:link,
a:visited,
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*デザインの都合で消す要素*/
header h1 span,
nav h1,
aside h1,
footer h1,
.hidden,
#contents section h1,
#contents section p,
.notable-book h1{
	display: none;
}



/* サイト全体のサイズを指定 */
@media (max-width: 479px){
	/*スマートフォン向け*/
	.container{
		width: 100%;
	}
	#notable-book img{
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}





@media (min-width: 480px){
	/*パソコン向け*/
	.container{
		width: 980px;
		margin: 0 auto;

		}
	header {
		width: 100%;
		overflow: hidden;
	}
	header h1{
		width: 28.4693%;
		float: left; 
	}
	header p {
		float: left;
		width: 71.53%;
		height: auto;
	}
	#notable-book{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#notable-book img{
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	/*商品カタログのペイン*/
	#catalog {
		width: 72.9591%;
		float: left;
		overflow: hidden;
	}
	/*広告ペイン*/
	#ads {
		width: 27.04%;
		float: left;
		overflow: hidden;
	}
	footer {
		clear: both;
	}
	#misc-info {
		width: 100%;
		padding-top: 40px;
		overflow: hidden;
	}
	#misc-info ul{
		width: 50%;
		float: left;
		overflow: hidden;
	}
	#copyright {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 0;
		padding-bottom: 20px;
		clear: both;
	}
}


/*スクリーンサイズに関わらない共通の要素*/
header {
	width: 100%;
	padding-top: 38px;
	padding-bottom: 38px;
	color: #FFFFFF;
	background-color: #1B1464;
}
header a {
	color: #FFFFFF;
	font-weight: bold;
}
nav,footer {
	color: #000000;
	background: #F1E5FF;
}

#contents {
	color: #000000;
	background: #FFFFFF;
}





